.bottom-bar {
  width: 100%;
  z-index: 1;
  height: 30vh;

  & > div > div > div { z-index: 2; }

  #bottom-bar {
    height: 100%;
    overflow: hidden;
    position: relative;
  }
}

footer {
  position: relative;
  z-index: 2;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 6px;
  user-select: none;

  span {
    height: inherit;
    display: flex;
    align-items: center;
    font-size: 4px;
  }

  & > span > span + span {
    margin: 0 4px;
  }

  .auto-space span {
    margin: 0 4px;
  }

  .smaller {
    font-size: 1.1rem;
  }
}
