.bottom-bar .editor .event-editor {
  & > :not(.MuiPaper-root) > div {
    z-index: 1;
  }

  & > .MuiPaper-root {
    height: 100%;
    position: relative;
    display: flex;
    background-image: none;
  }

  .event-editor-actions {
    display: flex;
    z-index: 1;
    font-size: 0.5rem;
    width: var(--keyboard-width);
    background-color: inherit;
    background-image: none;
    padding: 4px 0;

    * {
      margin-top: 2px;
    }

    button {
      min-width: 0;
      padding: 0;
    }
  }

  .content {
    flex: 1;
    overflow: hidden;
  }

  .editor-selector {
    font-size: inherit;
    margin: 0 4px;

    .MuiSelect-select {
      padding-right: 16px;
    }

    .MuiSvgIcon-root {
      font-size: 1rem;
    }
  }

  .velocity {
    position: relative;
    height: 100%;

    div {
      bottom: 0;
      width: 4px;
      position: absolute;
      opacity: 0.8;
      cursor: n-resize;
      min-height: 3px;

      &.selected {
        z-index: 4;
        filter: brightness(2.2);
      }
    }
  }
}
