.bottom-bar {
  width: 100%;
  z-index: 1;

  footer {
    height: 100%;
  }

  .editor {
    height: 100%;
    display: flex;

    .scrollable {
      overflow-y: auto;
      flex: 1;
      z-index: 1;

      & > div {
        display: flex;
      }

      .notes-wrapper {
        flex: 1;
        position: relative;
      }

      .notes {
        position: absolute;
        top: 0;
        left: 0;
        div {
          position: absolute;
          height: 18px;
          top: 0;
          left: 0;
          width: 40px;
          border-radius: 2px;
          cursor: pointer;
        }
      }
    }

    .keyboard {
      display: flex;
      margin-top: -1px;
      z-index: 1;
      flex-direction: column-reverse;

      button {
        width: 60px;
        height: 18px;
        border-radius: 0;
        background-color: var(--keyboard-white-key-color);
        font-size: 12px;
        font-weight: lighter;
        letter-spacing: -1px;
        justify-content: right;
        line-height: 0;
        color: #000;

        &:nth-child(12n+2), &:nth-child(12n+4), &:nth-child(12n+7), &:nth-child(12n+9), &:nth-child(12n+11) {
          color: #fff;
          background-color: var(--keyboard-black-key-color);
        }

        &:nth-child(12n+5), &:nth-child(12n+12) {
          box-shadow: 0 1px #bbb inset;
        }

        &:nth-child(12n+1) {
          background-color: #ccc;
        }
      }
    }
  }
}
